<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Tic Tac Toe</title>
</head>
<body>
    <div class="game-container">
        <h1>Tic Tac Toe</h1>
        <div class="gridPrnt">
            <div class="grid">
                <div class="cell" onclick="makeMove(0)"></div>
                <div class="cell" onclick="makeMove(1)"></div>
                <div class="cell" onclick="makeMove(2)"></div>
                <div class="cell" onclick="makeMove(3)"></div>
                <div class="cell" onclick="makeMove(4)"></div>
                <div class="cell" onclick="makeMove(5)"></div>
                <div class="cell" onclick="makeMove(6)"></div>
                <div class="cell" onclick="makeMove(7)"></div>
                <div class="cell" onclick="makeMove(8)"></div>
            </div>
        </div>
        <!-- <button onclick="resetBoard()">Reset</button> -->
        
        <button class="animated-button" onclick="resetBoard()">
            <span>Reset</span>
            <span></span>
        </button>          
        
        
    </div>
    <div id="message"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>